In [ ]:
# Elo 987

a = 20
print(a)

In [ ]:
# Elo 1023

a = 20
b = 11
c = a - b

print(c)

In [ ]:
# Elo 991

my_string = 'abc'
print(my_string)

In [ ]:
# Elo 1189

a = 2
print(type(a))

In [ ]:
# Elo 1198

x = True
print(type(x))

In [ ]:
# Elo 1245

print(min([1, 2, 3, -4]))

In [ ]:
# Elo 1111

first_str = 'Hello'
second_str = " world!"

str_ = first_str + second_str

print(str_)

In [ ]:
# Elo 1298

my_str = 'Hello\nworld\nhow\nare you?'
print(my_str)

In [ ]:
# Elo 1270

my_str = '''Hello
world
how are
you?'''

print(my_str)

In [ ]:
# Elo 1281

my_list = [1, 2, 3, 4, 5]
print(len(my_list))

In [ ]:
# Elo 1112

bool_var = 1 == 1
print(bool_var)

In [ ]:
# Elo 1194

bool_var = 1 > 2
print(bool_var)

In [ ]:
# Elo 1297

a = b = c = 1
print(b)

In [ ]:
# Elo 1401

print(max([3+2, 5*2, 30/3]))

In [ ]:
# Elo 1278

question = 'What is the answer?'
answer = 42

question = answer

print(id(question)==id(answer))

In [ ]:
# Elo 1321

a = 5
b = 'my string'

tmp = a
a = b
b = tmp

print(a)
print(b)

In [ ]:
# Elo 1432

t1 = True
t2 = True
f1 = False
f2 = False

and_result = t1 and t2
print(and_result)

and_result = t1 and f1
print(and_result)

and_result = f1 and f2
print(and_result)

and_result = f1 and t2
print(and_result)

In [ ]:
# Elo 1417

t1 = True
t2 = True
f1 = False
f2 = False

or_result = t1 or t2
print(or_result)

or_result = t1 or f1
print(or_result)

or_result = f2 or t2
print(or_result)

or_result = f1 or f2
print(or_result)

In [ ]:
# Elo 1476

t1 = 5 + 2 == 7
f1 = 2 - 1 > 3

r = t1 or False
r = r and True and f1

print(r)

In [ ]:
# Elo 1500

r = 3 + 5 - 2
print(type(r))

# this is a comment: / stands for division
# / returns a float value, e.g. 1.523, 5.0,...
r = 4 / 2
print(r)

# * stands for multiplication
r = 3 * 7
print(type(r))

In [ ]:
# Elo 1519

days_count = 219
days_per_week = 7

weeks = days_count // days_per_week
print(weeks)

days = days_count % days_per_week
print(days)

In [ ]:
# Elo 1472

ha = 'ha'
ho = 'ho'

laughter = 3 * (ha + ho) + '!'

print(laughter)

In [ ]:
# Elo 1332

my_str = 'cat'
length = len(my_str)

print(length)

In [ ]:
# Elo 1571

my_str = 'superman'

print(my_str[0])
print(my_str[1])
print(my_str[len(my_str) - 1])

In [ ]:
# Elo 1390

text = "Hi, how are you?"
shout = text.upper()

print(shout)

In [ ]:
# Elo 1367

text = 'I AM NOT SHOUTING!'
whisper = text.lower()

print(whisper)

In [ ]:
# Elo 1578

text = 'I AM NOT SHOUTING!'
text.lower()

print(text)

In [ ]:
# Elo 1543

text = 'Have a nice day.'
space_count = text.count(' ')
total_count = len(text)

print(space_count == total_count)

In [ ]:
# Elo 1542

text = 'Have a nice day.'
total_count = len(text)
spaces = total_count * ' '
space_count = len(spaces)

print(space_count == total_count)

In [ ]:
# Elo 1501

my_str = 'Donald Duck'
idx = my_str.find('a')

print(idx)

In [ ]:
# Elo 1334

my_str = 'Donald Duck'
idx = my_str.find('y')

print(idx > 0)

In [ ]:
# Elo 1535

letters = 'cheap cars crash'
cs = letters.count('c')
rs = letters.count('r')
ys = letters.count('y')

print(cs - rs > ys)

In [ ]:
# Elo 1470

my_str = 'python'
print(min(my_str) + max(my_str))

In [ ]:
# Elo 1398

my_str = 'python'
print(my_str[::-1])

In [ ]:
# Elo 1410

my_str = 'python'
are_equal = my_str[:] == my_str

print(are_equal)

In [ ]:
# Elo 1431

my_str = 'python'
my_substring = my_str[4:]

print(my_substring)

In [ ]:
# Elo 1598

my_str = 'python'
my_substr = my_str[::2]

print(my_substr)

In [ ]:
# Elo 1591

my_str = 'AaBbCcDdEeFf'
big = my_str[::2]
small = my_str[1::2]

print(big + '-' + small)

In [ ]:
# Elo 1588

chars_1 = 'Rzotbo'
chars_2 = 'tigno'

mistery = chars_1[::2] + chars_2[1::2]

print(mistery)

In [ ]:
# Elo 1395

my_str = 'Batman'
other_str = my_str[0:len(my_str)]

print(other_str)

In [ ]:
# Elo 1501

my_str = 'Aquaman'
id_1 = id(my_str)

my_str = my_str[4:]
id_2 = id(my_str)

print(id_1 == id_2)

In [ ]:
# Elo 1567

my_list = [
    'apple',
    'banana',
    'orange',
]

item = my_list[len(my_list)-2]
print(item)

In [ ]:
# Elo 1340

my_list = [
    'apple',
    'orange',
    'banana',
]

item = my_list[1]

print(item)

In [ ]:
# Elo 1499

my_list =  [
    'apple',
    'banana',
    'orange',
]

item = my_list.pop()

print(item)

In [ ]:
# Elo 1461

phone = 'smartphone'
x = phone.startswith('smart')
y = phone.endswith('phone')

print(x and y)

In [ ]:
# Elo 1133

phone = 'smartphone'
x = 'xyz' in phone

print(not x)

In [ ]:
# Elo 1455

sentence = ' Python is cool!  '
sentence = sentence.strip()
x = sentence.endswith(' ')

print(x)

In [ ]:
# Elo 1555

sentence = '  Python is cool!  '
str_1 = sentence.strip()
str_2 = sentence.replace(' ', '')

print(str_1 == str_2)

In [ ]:
# Elo 1419

shopping_list = [
    'bread',
    'milk',
    'cheese',
]

string = ','.join(shopping_list)

print(string)

In [ ]:
# Elo 1489

my_list = [
    'Bob',
    'Alice',
    'Donald',
    'Goofy',
]

your_list = my_list.copy()

print(id(your_list) == id(my_list))

In [ ]:
# Elo 1480

my_list = []

my_list.append('Tomato')
my_list = my_list + ['Pizza']

print(my_list)

In [ ]:
# Elo 1427

odd = [1, 3, 5, 7]
even = [0, 2, 4, 6]

odd.extend(even)

print(len(odd))

In [ ]:
# Elo 1381

my_list = []
my_list.append(1)
my_list.append(2)
my_list.pop()

print(len(my_list))

In [ ]:
# Elo 1441

my_list = [4, 5, 6]
index = 0
my_list.insert(index, 3)

print(my_list[1])

In [ ]:
# Elo 1485

my_list = [1, 2, 3, 4]
value = 2
index = 2
my_list.remove(value)

print(my_list[index])

In [ ]:
# Elo 1469

my_list = [1, 2, 3, 3, 2, 3]
index = my_list.index(3)

print(index)

In [ ]:
# Elo 1399

my_list = [1, 2, 3, 0, 2, 3]
count = my_list.count(3)

print(count)

In [ ]:
# Elo 1311

my_list = ['car', 'bike', 'boat']
my_list.clear()

print(len(my_list))

In [ ]:
# Elo 1501

my_list = [4, 7, 3, 9, 1]
my_list.sort()

print(my_list)

In [ ]:
# Elo 1333

my_list = [10, 9, 8, 7]
my_list.reverse()

print(my_list)

In [ ]:
# Elo 1498

my_list = [False, False, True]
x = any(my_list)

print(x)

In [ ]:
# Elo 1532

bool_val = all([
    1 == 1,
    7 // 2 == 2 + 1,
    2 == 6 % 4,
])

print(bool_val)

In [ ]:
# Elo 1300

len_of_list = len(list(range(10)))
print(len_of_list)

In [ ]:
# Elo 1440

l = list(range(5, 15, 5))
print(l)

In [ ]:
# Elo 1456

l = list(range(10, 1, -1))
print(l)

In [ ]:
# Elo 1302

a = 'world!'
b = 'hello '

b, a = a, b

print(a + b)

In [ ]:
# Elo 1507

my_list = [1, 1, 1, 1]
my_list[1::2] = [2, 3]

print(my_list)

In [ ]:
# Elo 1467

my_list = ['1, 2, 3', '4, 5']
print(len(my_list))

In [ ]:
# Elo 1419

word = 'radar'
p = word == word[::-1]

print(p)

In [ ]:
# Elo 1549

value_0 = int(True)
value_1 = int(False)
string = str(value_0) + str(value_1)

print(string)

In [ ]:
# Elo 1309

print(1000 * False)

In [ ]:
# Elo 1324

print((3 == 4) == 0)

In [ ]:
# Elo 1388

print(bool([]))

In [ ]:
# Elo 1422

n = 0
for i in range(0, 6, 3):
    n += i
    
print(n)

In [ ]:
# Elo 1453

str_ = ''

for c in reversed('nohtyp'):
    str_ += c
    
print(str_)

In [ ]:
# Elo 1347

s = sum([
    True,
    False,
    True,
    True,
])

print(s)

In [ ]:
# Elo 1391

my_list = []
id_1 = id(my_list)

my_list = my_list + [1]
id_2 = id(my_list)

print(id_1 == id_2)

In [ ]:
# Elo 1399

my_list = []
id_1 = id(my_list)

my_list.append(1)
id_2 = id(my_list)

print(id_1 == id_2)

In [ ]:
# Elo 1486

b = all([
    bool('0'),
    bool('?'),
    bool('-'),
    bool('e'),
])

print(b)

In [ ]:
# Elo 1575

a = complex(2, 4)
b = complex(1, -3)

print(a + b)

In [ ]:
# Elo 1462

x = 'a', 'b', 'c'
y = 3,

print(type(x) == type(y))

In [ ]:
# Elo 1478

x, y, z = 'cat'

print(y)

In [ ]:
# Elo 1543

my_bools = []

for n in range(-1, -10, -1):
    my_bools.append(bool(n))
    
result = all(my_bools)

print(result)

In [ ]:
# Elo 1593

b = any([
    bool(None),
    bool(0),
    bool(dict()),
])

print(b)

In [ ]:
# Elo 1482

my_list = [1, 1, 0]
s = 3

if my_list:
    s = sum(my_list)
    
print(s)

In [ ]:
# Elo 1571

a = complex(2, 5)
b = complex(a.imag, a.real)

print(b)

In [ ]:
# Elo 1479

p1 = (1, -1)
p2 = (2, 5)
p3 = (p1[0] + p2[0], p1[1] + p2[1])

print(p3)

In [ ]:
# Elo 1561

index = 5
string = 'g'

while index > 3:
    index -= 1
    string += 'o'
else:
    string += 'd'

print(string)

In [ ]:
# Elo 1578

index = 5
string = 'g'

while index > 3:
    index -= 1
    string += 'o'
    break
else:
    string += 'd'

print(string)

In [ ]:
# Elo 1571

index = 5
string = 'g'

while index > 3:
    index -= 1
    if index == 3:
        continue
    string += 'o'

else:
    string += 'd'

print(string)

In [ ]:
# Elo 1419

def magic(x, y):
    return x ** y + 1
    
print(magic(2, 3))

In [ ]:
# Elo 1531

dict_ = {
    1: 'one',
    2: 'two',
    3: 'three',
}

def to_str(number):
    if number in dict_:
        return dict_[number]
    else:
        return '?'
  
s1 = to_str(2)
s2 = to_str(7)

print(s1 + s2)

In [ ]:
# Elo 1501

sales = {
    100: {'item': 'apple', 'price': .95},
    101: {'item': 'banana', 'price': .55},
    102: {'item': 'orange', 'price': .75},
}

value = sales[102].get('price')

print(value)

In [ ]:
# Elo 1533

roman = {
    1: 'I', 2: 'II', 3: 'III', 4: 'IV', 5: 'V',
    6: 'VI', 7: 'VII', 8: 'VIII', 9: 'IX', 10: 'X'
}

arab = {}

for key, value in roman.items():
    arab[value] = key
    
print(arab['VII'])

In [ ]:
# Elo 1531

def func(a, b, c = 5):
    return a + b + c
    
r1 = func(1, 0)
r2 = func(1, 1, 2)

print(r1 < r2)

In [ ]:
# Elo 1600

chars = 'dog!'

char_1 = chars[-2]
char_2 = chars[chars.find('o')]
char_3 = chars[-1]

print(char_1 + char_2 + char_3)

In [ ]:
# Elo 1611

chars = 'bretsamaty'
word = chars[1:7][::-1]

print(word)

In [ ]:
# Elo 1609

odds = [1, 3, 5, 7]
s = sum(odds) + max(odds) + min(odds)

print(s)

In [ ]:
# Elo 1602

numbers = '1-2-3-4-5-6-7-8-9'

my_list = numbers.split('-')
my_list[::2] = (len(numbers) // 4 + 1) * 'X'

out = ''.join(my_list)
out = out.replace('X', '')

print(out)

In [ ]:
# Elo 1887

print(format(0.1, '.5f'))

In [ ]:
# Elo 1765

a = 0.1 + 0.1 + 0.1
b = 0.3

print(a == b)

In [ ]:
# Elo 1678

odd = [1, 3, 5]
even = [2, 4, 6]

nums = 6 * [' ']
nums[::2], nums[1::2] = odd, even

print(nums)

In [ ]:
# Elo 1698

unknown = #input ??
str_ = unknown[0]

if str_ in 'a' and len(unknown) == 1:
    print('X')

In [ ]:
# Elo 1701

b = round(15, -1) == round(25, -1)
print(b)

In [ ]:
# Elo 1761

n = int('1101', 2)
print(n)

In [ ]:
# Elo 1619

type_1 = type(round(1.9, 0))
type_2 = type(round(1.9))

print(type_1 == type_2)

In [ ]:
# Elo 1781

a = 1 > 0

if a or (1 / 0 == 0):
    print('ok')
else:
    print('nok')

In [ ]:
# Elo 1619

n = 16
x = 0

while x < 3:
    n /= 2
    x += 1
    
print(n)

In [ ]:
# Elo 1601

inc = lambda x : x + 1

print(inc(2))

In [ ]:
# Elo 1721

l1 = ['a', 'b', 'c']
l2 = [1, 2, 3]
l3 = []

for tuple in zip(l1, l2):
    l3.append(tuple)
    
print(len(l3))

In [ ]:
# Elo 1601

list_ = list(range(5))
func = lambda x: x % 2 == 0
ns = []

for n in filter(func, list_):
    ns.append(n)
    
print(ns)

 
def func(x):
    return x % 2 == 0

In [ ]:
# Elo 1627

list_ = list(range(4))
incs = [x + 1 for x in list_]

print(incs)

In [ ]:
# Elo 1821

encrypted = 'Dbftbs!fodszqujpo!jt!opu!tfdvsf"'
decrypted = ''

for c in encrypted:
    decrypted += chr(ord(c) - 1)
    
print(decrypted)

In [ ]:
# Elo 1611

dict_ = {
    0: ' ', 3: 'eat', 2: 'apple',
    4: 's', 1: 'Bob', 5: '.',
}

words = [1, 0, 3, 4, 0, 2, 4, 5]
sentence = ''''''

for w in words:
    sentence += dict_[w]
    
print(sentence)

In [ ]:
# Elo 1641

def add(a, b):
    return a + b
    
def mult(a, b):
    return a * b
    
func = {0: add, 1: mult, 2: lambda x: x + 1}

a = func[0](3, -1)
b = func[1](4.0, 0.5)

print(a + b)

In [ ]:
# Elo 1639

customers = {
    100: {'name': 'Alice', 'zip': 1234},
    101: {'name': 'Bob', 'zip': 1212},
    102: {'name': 'Clare', 'zip': 1001},
}

customers[101].clear()

print(len(customers))

In [ ]:
# Elo 1667

zip_codes = {
    3001: 'Dolomite',
    3002: 'Goodwater',
    3003: 'Montevallo',
    3004: 'Shelby',
    3000: 'Vance',
}

keys = list(zip_codes.keys())
keys.sort()

print(keys[0])

In [ ]:
# Elo 1701

prices = [0.55, 0.45, 0.35, 1.45]
items = ['cucumber', 'paprika',
         'tomato', 'broccoli']
         
item_prices = {}

for key, value in zip(items, prices):
    item_prices[key] = value
    
print(item_prices['tomato'])

In [ ]:
# Elo 1731

item_prices = [
    ('car', 10000),
    ('boat', 7000),
    ('bike', 400),
    ('skateboard', 150),
    ('aircraft', 500000),
]

my_list = [x for x in item_prices if x[1] > 9000]

print(len(my_list))

In [ ]:
# Elo 1695

prices = [
    ('banana', 1.5),
    ('apple', 2.0),
    ('bread', 2.0),
    ('milk', 1.0),
    ('fish', 3.5),
]

a = sum([x[1] for x in prices]) / len(prices)

print(a)

In [ ]:
# Elo 1741

speed = [
    ('car', 100),
    ('boat', 20),
    ('bike', 8),
    ('ski', 7),
    ('aircraft', 650),
]

print(max(speed)[1])

In [ ]:
# Elo 1769

speed = [
    ('car', 100),
    ('boat', 20),
    ('bike', 8),
    ('ski', 7),
    ('aircraft', 650),
]

print(max(speed, key=lambda x: x[1])[1])

In [ ]:
# Elo 1799

my_list = ['Hamburger', 'Cheeseburger']

del my_list

print(my_list)

In [ ]:
# Elo 1733

set_ = set()

for number in range(100000):
    set_.add(number % 4)
    
print(len(set_))

In [ ]:
# Elo 1739

set_1 = {1, 2, 3, 4}
set_2 = {3, 4, 5, 6}

set_1 = set_1.intersection(set_2)
set_2 = set_2.difference(set_1)

print(len(set_1) + len(set_2))

In [ ]:
# Elo 1899

numbers = [9, 2, 3, 7, 4, 5, 1, 6, 8]

def magic(l):
    if len(l) <= 1:
        return l
        
    p_idx = len(l) // 2
    p = l[p_idx]
    
    return magic([x for x in l if x < p]) + \
        [p] + magic([x for x in l if x >= p])
                  
my_list = magic(numbers)

print(my_list)

In [ ]:
# Elo 1809

cache = {}

def fib(n):   
    if n < 0:
        raise ValueError

    if n == 1:
        return 0
    elif n == 2:
        return 1
    
    if not n in cache:
        cache[n] = fib(n-1) + fib(n-2)

    return cache[n]
     

fib(10)

print(len(cache))